<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p style="font-size: 30px;color: #843534">Sàn giao dịch Kcoin của PPP</p>
<p>Đây là link để xác thực việc rút tiền của bạn</p>
<p> Bạn sẽ gửi tiền vào tài khoản: {{addressNhan}} </p>
<p>Số tiền gửi: {{money}} Coin</p>
<a href="http://localhost:3000/transaction/exchange/{{idwallet}}/{{idtrans}}">Nhấn vào đây để xác thực chính bạn là người rút tiền</a>

<p> Cám ơn các bạn đã sử dụng dịch vụ của chúng tôi</p>
</body>
</html>